In [1]:

import sys
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_176353a848a541b49d8dddca6f1c97e8 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='XMhBv5KCHIRiRyY88DVsG6YqUuBlVnnJZLzZA4Tdqddm',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_176353a848a541b49d8dddca6f1c97e8.get_object(Bucket='fastwebdemo1-donotdelete-pr-uzgzpvgglgsezj',Key='GoSales_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

  GENDER  AGE MARITAL_STATUS    PROFESSION              PRODUCT_LINE
0      M   27         Single  Professional      Personal Accessories
1      F   39         Single     Executive      Personal Accessories
2      M   39        Married       Student  Mountaineering Equipment
3      F   56         Single   Hospitality      Personal Accessories
4      M   45        Married       Retired            Golf Equipment

Un po di informazioni sul data set

In [6]:
# cosa è?
type(df_data_2)

pandas.core.frame.DataFrame

In [2]:
#quali colonne ha? 

df_data_2.columns.values.tolist()

['GENDER', 'AGE', 'MARITAL_STATUS', 'PROFESSION', 'PRODUCT_LINE']

In [4]:
# quane righe e colonne ha?

df_data_2.shape

(90261, 5)

In [5]:
# vediamo i dati
df_data_2

      GENDER  AGE MARITAL_STATUS    PROFESSION              PRODUCT_LINE
0          M   27         Single  Professional      Personal Accessories
1          F   39         Single     Executive      Personal Accessories
2          M   39        Married       Student  Mountaineering Equipment
3          F   56         Single   Hospitality      Personal Accessories
4          M   45        Married       Retired            Golf Equipment
5          M   45        Married       Retired            Golf Equipment
6          M   39        Married       Student         Camping Equipment
7          M   49        Married       Student         Camping Equipment
8          F   49        Married       Retired        Outdoor Protection
9          M   47        Married       Retired            Golf Equipment
10         M   47        Married       Retired            Golf Equipment
11         M   21         Single        Retail  Mountaineering Equipment
12         F   66         Single     Executive      Personal Accessories
13         M   35        Married  Professional         Camping Equipment
14         M   20         Single         Sales  Mountaineering Equipment
15         M   20         Single         Sales  Mountaineering Equipment
16         M   20         Single         Sales  Mountaineering Equipment
17         F   37         Single     Executive      Personal Accessories
18         M   42        Married       Student         Camping Equipment
19         M   24        Married        Retail         Camping Equipment
20         F   24         Single        Retail      Personal Accessories
21         M   29         Single        Retail  Mountaineering Equipment
22         M   29        Married        Retail         Camping Equipment
23         M   43        Married        Trades         Camping Equipment
24         M   43        Married        Trades         Camping Equipment
25         M   43        Married   Hospitality         Camping Equipment
26         M   43        Married   Hospitality         Camping Equipment
27         M   43        Married   Hospitality         Camping Equipment
28         M   43        Married   Hospitality         Camping Equipment
29         M   29         Single       Student  Mountaineering Equipment
...      ...  ...            ...           ...                       ...
90231      M   24        Married        Trades         Camping Equipment
90232      M   24        Married        Trades         Camping Equipment
90233      F   33        Married       Student         Camping Equipment
90234      F   33        Married       Student         Camping Equipment
90235      F   33        Married       Retired        Outdoor Protection
90236      F   33        Married       Retired        Outdoor Protection
90237      F   22        Married       Student         Camping Equipment
90238      F   22        Married       Student         Camping Equipment
90239      F   43    Unspecified   Hospitality            Golf Equipment
90240      F   43    Unspecified   Hospitality            Golf Equipment
90241      F   43    Unspecified   Hospitality            Golf Equipment
90242      F   43    Unspecified   Hospitality            Golf Equipment
90243      M   44        Married        Trades         Camping Equipment
90244      M   44        Married        Trades            Golf Equipment
90245      M   44        Married        Trades            Golf Equipment
90246      M   44        Married        Trades         Camping Equipment
90247      F   26        Married  Professional  Mountaineering Equipment
90248      F   26        Married  Professional  Mountaineering Equipment
90249      F   26         Single  Professional      Personal Accessories
90250      F   28         Single     Executive      Personal Accessories
90251      F   28         Single     Executive      Personal Accessories
90252      F   41        Married       Student         Camping Equipment
90253      F   41        Married       Student         Camping Equipment
90254      F   41        Married       Student         Camping Equipment
90255      F   41        Married       Student         Camping Equipment
90256      M   28         Single  Professional      Personal Accessories
90257      M   28         Single  Professional      Personal Accessories
90258      M   28         Single  Professional      Personal Accessories
90259      F   42         Single     Executive      Personal Accessories
90260      F   42         Single     Executive      Personal Accessories

[90261 rows x 5 columns]

In [47]:
#indagine sui valori di una colonna
df_data_1['AGE'].describe()

count    90261.000000
mean        34.179391
std         10.113063
min         17.000000
25%         26.000000
50%         33.000000
75%         41.000000
max         69.000000
Name: AGE, dtype: float64

In [42]:
df_data_2['PROFESSION'].describe()

count       90261
unique          9
top       Student
freq        20609
Name: PROFESSION, dtype: object